#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

override_dh_install:
	mkdir -p debian/cantab-screensaver/usr/share/cantab-video/
	cp -ax video/cantab.h264 debian/cantab-screensaver/usr/share/cantab-video/
ifeq ($(DEB_TARGET_ARCH),armhf)
	dh_install
endif

override_dh_strip:
ifeq ($(DEB_TARGET_ARCH),armhf)
	dh_strip
endif
	
override_dh_shlibdeps:
ifeq ($(DEB_TARGET_ARCH),armhf)
	dh_shlibdeps
endif

override_dh_auto_build:
ifeq ($(DEB_TARGET_ARCH),armhf)
	dh_auto_build -a
endif

override_dh_auto_test:
ifeq ($(DEB_TARGET_ARCH),armhf)
	dh_auto_test -a
endif

override_dh_auto_install:
ifeq ($(DEB_TARGET_ARCH),armhf)
	dh_auto_install -a
endif



%:
	dh $@ --with autoreconf
